@{
    ViewData["Title"] = "Home Page";
}




<div id="MainContent" class="text-center">
    <span id="newSpan"></span>
    <button id="ClickButton" class="ButtonClass">Log In</button>
    <button id="ClickButton" class="ButtonClass">Sign Up</button>
    <p id="Para1" class="ParaClass">Text 1</p>
    <p class="ParaClass">Text 2</p>
    <p class="ParaClass">Text 3</p>
    <p class="ParaClass">Text 4</p>
    <p class="ParaClass">Text 5</p>

</div>



@section Scripts {
    <script src="~/js/Index.js"></script>
}
